
section {
	margin: 0 auto;

}

section a {
	text-decoration: none;
	font-size: 30px;
}

#map {
  height: 1000px;
}
/* Button Set PickUp */
footer .btnPickUp {
  background-color: #3D0884;
} 

.dropup-pickup {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 15px; 
  position: relative;
}

.dropup-pickup .pickup-location {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.dropup-pickup .list-car {
  width: 85%;
  margin-bottom: 15px;
}

.dropup-pickup button {
  margin-left: 10px;
  color: black;
}

/* botones para regresar, navegar y desplegar la lista de carros */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  margin-bottom: 5px;
  color: #474C62;
}

/* contenedor del taxi escogido */
.taxi {
    position: relative;
    background: linear-gradient(rgb(63,3,128), rgb(254,0,187));
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}
.taxi.active{
    background: #FFF;
}
.taxi:after {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    content: "";
    /*background-image: url(../img/taxi1.png);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;;
    border-radius: 100%;
    overflow: hidden;
}

/* cambio de color en mouseover*/
.list {
  padding: 0;
}

.list.active {
    background: #F3F3F5;

}
.list.active small, .purple {
    color: #3D0884;
}
